<div id="body">
  <h2>Achat du Jeu</h2>
  <form id="form" [formGroup]="formPurchase" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dateBuy">Date d'achat :</label><br>
      <input id="dateBuy" type="date" class="form-control" formControlName="dateBuy">
    </div>
    <div class="form-group">
      <label for="location">Lieu de stockage :</label><br>
      <input id="location" type="text" class="form-control" formControlName="location">
    </div>
    <div class="form-group">
      <label for="price">Prix d'achat :</label><br>
      <input id="price" type="number" class="form-control" formControlName="price">
    </div>
    <button type="submit" [disabled]="!formPurchase.valid">Valide</button>
  </form>
</div>

