<div>
  <h1>{{jeu.nom}}</h1>
  <img style="width: 20vh" [src]="jeu.url_media" alt="Image">
  <ul>
    <li>Description: {{jeu.description}}</li>
    <li>Regles: {{jeu.regles}}</li>
    <li>Theme: {{jeu.theme_id.nom}}</li>
    <li>Duree: {{jeu.duree}}</li>
    <li>Editeur: {{jeu.editeur_id.nom}}</li>
    <li>Langue: {{jeu.langue}}</li>
    <li>Nombre de joueur: {{jeu.nombre_joueur}}</li>
    <li>Poids: {{jeu.poids}}</li>
    <li>Age: {{jeu.age}}</li>
    <li>Categorie: {{jeu.categorie}}</li>
  </ul>

  <p-button *ngIf="authService.isLoggedIn$ | async" label="Ajouter un commentaire" icon="pi pi-info" (onClick)="modal = true"></p-button>
</div>

<p-dialog *ngIf="authService.isLoggedIn$ | async" [(visible)]="modal" [modal]="true" [dismissableMask]="true" (onHide)="modal = false">
  <app-game-add-comment-modal *ngIf="modal" [id]="jeu.id" (validate)="modal = false"></app-game-add-comment-modal>
</p-dialog>
