<div>
  <h1>{{jeu.nom}}</h1>
  <img style="width: 20vh" [src]="jeu.url_media" alt="Image">
  <ul>
    <li>Description: {{jeu.description}}</li>
    <li>Regles: {{jeu.regles}}</li>
    <li>Theme: {{jeu.theme_id.nom}}</li>
    <li>Duree: {{jeu.duree}}</li>
    <li>Editeur: {{jeu.editeur_id.nom}}</li>
    <li>Langue: {{jeu.langue}}</li>
    <li>Nombre de joueur: {{jeu.nombre_joueur}}</li>
    <li>Poids: {{jeu.poids}}</li>
    <li>Age: {{jeu.age}}</li>
    <li>Categorie: {{jeu.categorie}}</li>
  </ul>


  <!-- ajouter bouton ajout jeux -->
</div>
