<div class="loading" *ngIf="loading">
  Loading...
</div>
<p-button label="Trier par nom" icon="pi pi-filter" (onClick)="onTriNom()"></p-button><p-button label="Trier par thème" icon="pi pi-filter" style="margin: 10px;" (onClick)="onTriTheme()"></p-button>
<div class="cardsBox" *ngIf="!loading">
  <p-card class="uneCard" *ngFor="let jeu of items" header="{{jeu.nom}}" >
    <ng-template pTemplate="header">
      <img alt="Game Image" [src]="jeu.url_media">
    </ng-template>
    <p>{{jeu.description}}</p>
    <ng-template pTemplate="footer">
      <p-button label="Voir plus" icon="pi pi-info" (onClick)="router.navigate(['/jeux', jeu.id])"></p-button>
    </ng-template>
  </p-card>
</div>


